apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: muchtodo
  labels:
    app: backend-app
spec:
  selector:
    app: backend-app
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
